.backDoor {
  background: radial-gradient(#DAF3FF, #FFEDCB);
  position: absolute;
  width: 200px;
  height: 300px;
  margin: 0 auto;
  margin-top: 50px;
  top: 55%;
  left: 2%;
}

.door {
  background-color: #443622;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 300px;
  z-index: 2;
  transform-origin: left;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.doorText {
  color: #fff;
  font-size: 24px;
  z-index: 3;
}

.doorOpen {
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px)
    rotateY(-105deg);
}

/* .zoomEffect {
  animation: zoomIn 2s forwards; 
}

@keyframes zoomIn {
  from {
    transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px)
    rotateY(-105deg) scale(1);
  }
  to {
    transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px)
    rotateY(-105deg) scale(2); 
  }
} */

